<p>Náhled a validace webových stránek anotovaných strukturovanými daty pomocí JobPosting ze Schema.org. <a href="/about">Více informací&hellip;</a></p>

<p>Už na webu máte nabídky práce označené Schema.org JobPosting? Dejte nám o tom prosím vědět <a href="http://addurl.damepraci.cz/">zasláním odkazu</a> do aplikace DámePráci.cz.</p>
