<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Máte potíže se značkováním?</strong> Podívejte se do našeho <a class="alert-link" href="https://github.com/OPLZZ/data-modelling/wiki/RDFa-Recipe-Czech">návodu na vyznačení dat o nabídce práce</a>.
</div>

<p class="label label-important">Neprošlo</p>
