<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Have you marked up your data?</strong> Please let us know by <a class="alert-link" href="http://addurl.damepraci.cz/">sending a link to your web page to the DámePráci.cz application</a>.
</div>

<p class="label label-success">Passed</p>
