<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Having trouble with markup?</strong> Try looking into our <a class="alert-link" href="https://github.com/OPLZZ/data-modelling/wiki/RDFa-Recipe-English">tutorial for marking up data in job postings</a>.
</div>

<p class="label label-important">Failed</p>
