<h1>O aplikaci</h1>

<p>Aplikace slouží k validaci a náhledu webových stránek obsahujících data o nabídkách práce popsaná pomocí třídy <a href="http://schema.org/JobPosting">JobPosting ze slovníku Schema.org</a>. Validátor je schopen zpracovat data zapsaná do webových stránek jak v RDFa, tak v HTML5 Microdata. Návod na vyznačení nabídky práce v RDFa lze nalézt na <a href="https://github.com/OPLZZ/data-modelling/wiki/RDFa-Recipe-Czech">této stránce</a>. Zdrojový kód tohoto nástroje je volně dostupný v <a href="https://github.com/jindrichmynarz/job-posting-validator">tomto GitHub repozitáři</a>.</p>

<p>Vývoj nástroje byl podpořen z projektu č. CZ.1.04/5.1.01/77.00440. Podrobné informace o tomto projektu lze nalézt na <a href="http://damepraci.eu/">DámePráci.eu</a>. Aplikaci pro hledání práce vytvořenou v tomto projektu lze najít na <a href="http://www.damepraci.cz/">DámePráci.cz</a>.</p>

<p>Projekt č. CZ.1.04/5.1.01/77.00440 je financován z Evropského sociálního fondu prostřednictvím Operačního programu Lidské zdroje a zaměstnanost a ze státního rozpočtu ČR.</p>

<p><a href="http://esfcr.cz/"><%= image_tag("oplzz_banner_cs.png", alt: "Evropský sociální fond v ČR") %></p>
