<h1>O aplikaci</h1>

<p>Zdrojový kód tohoto nástroje je volně dostupný v <a href="https://github.com/jindrichmynarz/job-posting-validator">tomto GitHub repozitáři</a>.</p>

<p>Vývoj nástroje byl podpořen z projektu č. CZ.1.04/5.1.01/77.00440. Podrobné informace o tomto projektu lze nalézt na <a href="http://damepraci.eu/">damepraci.eu</a>.</p>

<p>Projekt č. CZ.1.04/5.1.01/77.00440 je financován z Evropského sociálního fondu prostřednictvím Operačního programu Lidské zdroje a zaměstnanost a ze státního rozpočtu ČR.</p>
