<h1>About</h1>

<p>The code of this tool is open source and is available in <a href="https://github.com/jindrichmynarz/job-posting-validator">this GitHub repository</a>.</p>

<p>The development of the tool was supported by the project no. CZ.1.04/5.1.01/77.00440. Detailed information about this project can be found at <a href="http://damepraci.eu/">damepraci.eu</a>.</p>

<p>The project no. CZ.1.04/5.1.01/77.00440 is funded by the European Social Fund through the Operational Programme Human Resources and Employment and the state budget of the Czech Republic.</p>
