<h1>About</h1>

<p>The application serves as a validator and preview for web pages containing data about job postings that is described using the <a href="http://schema.org/JobPosting">JobPosting class</a> from the Schema.org vocabulary. The validator accepts data embedded into web pages both using RDFa and HTML5 Microdata. A tutorial on marking up job posting in RDFa can be found at <a href="https://github.com/OPLZZ/data-modelling/wiki/RDFa-English">this web page</a>. The code of this tool is open source and is available in <a href="https://github.com/jindrichmynarz/job-posting-validator">this GitHub repository</a>.</p>

<p>The development of the tool was supported by the project no. CZ.1.04/5.1.01/77.00440. Detailed information about this project can be found at <a href="http://damepraci.eu/">damepraci.eu</a>.</p>

<p>The project of OP HRE No.CZ.1.04/5.1.01/77.00440 is funded by the European Social Fund through the Human Resources and Employment Operational Programme and the state budget of the Czech Republic.</p>

<p><a href="http://esfcr.cz/"><img src="assets/oplzz_banner_en.png" /></a></p>
